* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Gantari", sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  width: 100%;
  max-width: 90rem;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.container h1 {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 100%;
  /* or 44px */
  text-align: center;
  letter-spacing: -0.02em;
  /* Neutras/Preto */
  color: #222121;
}
.container h2 {
  font-family: "Gantari";
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 130%;
  /* or 31px */
  text-align: center;
  /* Neutras/Preto */
  color: #222121;
}
.container .card-prices {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3.2rem 5.6rem;
  gap: 2.4rem;
  background: #fcfcfc;
  /* Sombra */
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.container .card-prices h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #000000;
}
.container .card-prices .card-prices__coverage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.8rem;
  gap: 0.4rem;
  width: 19.1rem;
  height: 3.2rem;
  background: #ffcdb3;
  border-radius: 3.2rem;
}
.container .card-prices .card-prices__settings {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}