body {
  position: relative;
  min-height: 100vh;
}

.bg-img {
  z-index: -1;
  height: 50vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: url(../img/logo-bg.png) bottom left no-repeat,
    linear-gradient(180deg, rgba(255, 101, 20, 0) 0%, #ff6514 100%);

  @media (max-width: 850px) {
    height: 100%;
  }
}
.container {
  z-index: 1;
  padding-top: 6rem;
  padding-bottom: 6rem;

  .logo-topo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9.9rem;
    margin-bottom: 3.2rem;
    img {
      width: 15.2rem;
      height: 9.9rem;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 100%;

    text-align: center;
    letter-spacing: -0.02em;

    color: #222121;
    margin-bottom: 4rem;
  }

  h2 {
    font-family: "Gantari";
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 130%;

    text-align: center;

    color: #222121;
  }

  .card-prices {
    margin-top: 3.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.2rem 5.6rem;
    gap: 2.4rem;

    background: #fcfcfc;
    /* Sombra */

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 4px;

    h3 {
      font-weight: 600;
      font-size: 2rem;
      line-height: 100%;

      letter-spacing: -0.02em;

      color: #000000;
    }

    .card-prices__coverage {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.8rem;
      gap: 0.4rem;

      width: 19.1rem;
      height: 3.2rem;

      background: #ffcdb3;
      border-radius: 3.2rem;

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;

        color: #7e320a;
      }
    }

    .card-prices__settings {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .card-prices__item2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.2rem;

        .item2__description {
          text-align: center;
          h4 {
            font-weight: 600;
            font-size: 28px;
            line-height: 100%;

            letter-spacing: -0.02em;

            color: #000000;
            margin-bottom: 0.7rem;
          }

          p {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;

            color: #000000;
          }
        }
      }
    }

    .card-prices__benefits {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.2rem;

      @media (max-width: 850px) {
        flex-direction: column;
      }
      .benefits__item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        padding: 0.6rem 1.2rem;
        border-radius: 1.6rem;
        border: solid 1px #ff6514;
        color: #ff6514;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;

        @media (max-width: 850px) {
          max-width: 30rem;
          width: 100%;
        }
      }
    }

    .card-prices__button {
      a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.6rem 3.8rem;
        gap: 1rem;
        background: #ff6514;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        display: flex;
        color: #fcfcfc;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}
